@model MVCWingsAir.Models.TipoAvion

@{
	ViewBag.Title = "Eliminar Tipo de Avión";
}
<div class="row">
	<div class="col">
		<h2>Eliminar Tipo de Avión</h2>
		<h3>¿Estas seguro de eliminar el tipo de Avión?</h3>
		<div>
			<h4>TipoAvion</h4>
			<hr />
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor( model => model.Nombre )
				</dt>
				<dd>
					@Html.DisplayFor( model => model.Nombre )
				</dd>
			</dl>
			@using( Html.BeginForm() ) {
				@Html.AntiForgeryToken()
				<div class="form-actions no-color">
					<input type="submit" value="Eliminar Video" class="btn btn-danger btn-sm" /> |
					@Html.ActionLink( "Ver Lista de Tipos de Avión", "Index", null, new { @class = "btn btn-outline-primary" } )
				</div>
			}
		</div>
	</div>
</div>